/**
 * 字符串截取
 * 
 * @param {string} str 字符串
 * @param {number} start 起始位置 
 * @param {number} stop 结束位置
 */
function subStr(str, start, stop) {
    if (str) {
        return str.substring(start, stop)
    }
    return ''
}


/**
 * 数字转换字符串
 * @param number {number} 数字
 * @param fractionDigits {number} 小数位数
 */
function numStr(number, fractionDigits) {
    return number.toFixed(fractionDigits)
}


module.exports = {
    subStr: subStr,
    numStr: numStr
}